
language-menu {
}
.flags {
	background:url('../assets/images/flags.png') no-repeat top left; display:inline-block;
}
.flags.flag-bd {
	background-position:0 -0px;
	width: 55px;
	height: 55px;
}
.flags.flag-cn {
	background-position:0 -55px;
	width: 55px;
	height: 55px;
}
.flags.flag-de {
	background-position:0 -110px;
	width: 55px;
	height: 55px;
}
.flags.flag-es {
	background-position:0 -165px;
	width: 55px;
	height: 55px;
}
.flags.flag-fr {
	background-position:0 -220px;
	width: 55px;
	height: 55px;
}
.flags.flag-en {
	background-position:0 -275px;
	width: 55px;
	height: 55px;
}
.flags.flag-gr {
	background-position:0 -330px;
	width: 55px;
	height: 55px;
}
.flags.flag-id {
	background-position:0 -385px;
	width: 55px;
	height: 55px;
}
.flags.flag-il {
	background-position:0 -440px;
	width: 55px;
	height: 55px;
}
.flags.flag-in {
	background-position:0 -495px;
	width: 55px;
	height: 55px;
}
.flags.flag-ir {
	background-position:0 -550px;
	width: 55px;
	height: 55px;
}
.flags.flag-it {
	background-position:0 -605px;
	width: 55px;
	height: 55px;
}
.flags.flag-ja {
	background-position:0 -660px;
	width: 55px;
	height: 55px;
}
.flags.flag-nl {
	background-position:0 -715px;
	width: 55px;
	height: 55px;
}
.flags.flag-pl {
	background-position:0 -770px;
	width: 55px;
	height: 55px;
}
.flags.flag-pt {
	background-position:0 -825px;
	width: 55px;
	height: 55px;
}
.flags.flag-ru {
	background-position:0 -880px;
	width: 55px;
	height: 55px;
}
.flags.flag-sa {
	background-position:0 -935px;
	width: 55px;
	height: 55px;
}
