<?xml version='1.0' encoding='utf-8'?>

<widget id="de.dfki.iui.mmir.starterkit"
    	version="3.1.0"
    	xmlns="http://www.w3.org/ns/widgets"
    	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>MMIR StarterKit</name>
    <description>
        A sample Apache Cordova application for the MMIR StarterKit.
    </description>
    <author email="" href="https://github.com/mmig/mmir-starter-kit">
        DFKI MMIG Team
    </author>
    
    <!-- 
    		start the app's page with search-query/param "env=cordova",
    		so that the MMIR framework can "detect" the Cordova enviornment
      -->
    <content src="index.html?env=cordova" />
    
    
    <!-- 
    	 allows access to all remote locations
    	 
    	 USE THIS SETTING ONLY DURING DEVELOPMENT!
    	 
    	 see the Cordova documentation for more details
    	 https://cordova.apache.org/docs/en/latest/guide/appdev/whitelist/index.html
    	 
     -->
    <access origin="*" />
    
</widget>
