
html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#full {
	height: 100%;
}
		
.grid {
	display: inline-table;
}
.grid-cell {
	display: table-cell;
	vertical-align: bottom;
}

code {
	white-space: pre;
}

.hidden {
	display: none;
}

.text.hint {
	font-weight: lighter;
}

.text.small {
	font-size:x-small;
}
	
.outbox {
	font-family:monospace;
	font-size:12px;
	white-space: pre;
	overflow:scroll;
	border: thin solid lightGrey;
}

#outputBox {
	height:100%;
	width:100%;
}

#compileOutBox, #compiledParserOutBox, #compiledParserOutBox {
	height:100%;
	width:100%;
}

#interpreter-element {
	width: 100%;
	height: 95%;
}

#console-element, #compiled-grammar-element, #intermediate-grammar-element {
	height:100%;
	width:100%;
}

#defaultProcInterpretationCol {
	height: 70%;
}

#interpretationBox, #interpretationBoxAlt {
	height: 100%;
	width: 100%;
}

.side-panel #interpretationInputBox {
	width: 100%;
}

#stopwordBox, #stopwordBox2 {
	height: 3em;
	width:100%;
}

.side-panel #benchmark-semantic-element {
	bottom: 0;
	position: absolute;
}

.side-panel #benchmark-time {
	height: 1em;
}

.editor {
	width: 100%;
	height: 95%;
}

/** 
	class for setting button to "pressed-down" state in toolbar:
	menu-button-selected
	
	-> copied from w2ui.css (same as table.w2ui-button.checked)
 */
.w2ui-toolbar table.w2ui-button.menu-button-selected {
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
}
.w2ui-toolbar table.w2ui-button.menu-button-selected .w2ui-tb-caption {
  color: #000000;
}

/* FIX for orion editor:
 * need to increase z-index when editor is contained in w2ui panel
 */
.textviewTooltip {
	z-index: 1000;
}
