page-login-page {

  .user {
    text-transform: capitalize;
    font-weight: bold;
  }

  .flag .button-inner {
    text-shadow: 1px 1px 5px white;
    font-size: large;
    font-weight: bold;
  }
}
